 @font-face {
     font-family: 'PingFang-SC-Bold';
     src: url('~@/static/font/pingfang/PingFang Bold.ttf') format('truetype');
 } 
 @font-face {
     font-family: 'PingFang-SC-Heavy';
     src: url('~@/static/font/pingfang/PingFang Heavy.ttf') format('truetype');
 }
 @font-face {
     font-family: 'PingFang-SC-Medium';
     src: url('~@/static/font/pingfang/PingFang Medium.ttf') format('truetype');
 } 